#map-canvas {
  height: 350px;
  width: 60%;
  float:left;
}

.map-input {
  margin: 20px 0;
}

#map-directions {
  float: left;
  width: 40%;
}

#map-directions h2 {
  margin-left: 40px;
  margin-top: 0;
}

#map-directions li {
  margin-bottom: 5px;
}