<div class="map-input">
{{input type="text" id="new-waypoint" placeholder="Place address"
  value=newAddress enter="createGWaypoint"}} <button {{action "createGWaypoint" newAddress}}>Add</button>
</div>

<div>
{{google-map latitude="48.134720" longitude="17.163709" setTheMap="setTheMap" initializeOptimizedRoutes="initializeOptimizedRoutes" calculateRoutes="calculateRoutes" createGWaypoint="createGWaypoint" model=model}}

<div id="map-directions">
<h2>Shortest route</h2>
<ol></ol>
</div>

</div>